body {

    background-color: #E2FFD9;
    max-height: 100%;
    max-width: 100%;
    
   

}



.img-accueil {
   
   width: 80%;
   margin: 5%;
   
}

nav {

    display: flex;
   
    
     margin: 5%;

     
    

}

.onglet {

        display: flex;
        
        
        margin: 5%;
        margin-bottom: 0%;
        
        color: #239400;
        font-weight: bold;
        

}

.none {
    
    text-decoration: none;

    color: #239400;


}

h1 {
    
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 300%;
    color: #239400;


}

.welcome {

        width: 80%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
        

}

h2 {

margin-left: 5%;
margin-bottom: 10%;
font-size: 200%;
text-decoration: underline;
color: #239400;
font-weight: bold;

}

.titre {
        
        margin-left: 10%;
        margin-bottom: 2%;
        list-style: circle;
        font-size: 150%;
       

}

h3 {

text-align: center;
margin: 5%;
font-size: 150%;
color: #239400;
margin-top: 10%;


}

.ecolo {
    margin-top: 10%;
    margin-left: 5%;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 5%;
    color: #239400;
    margin-bottom: 10%;
    margin-right: 10%;

}

h4 {
    
    text-align: center;
    margin: 5%;
    font-size: 150%;
    color: #239400;

}


.respect {
    
    margin-top: 10%;
    margin-left: 5%;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 10%;
    margin-right: 10%;
    color: #239400;
}

h5 {
    
    
    text-align: center;
    margin: 5%;
    margin-top: 10%;
    font-size: 150%;
    color: #239400;

}

.non-respect {


    margin-left: 5%;
    margin-top: 10%;
    
    line-height: 1.6;
    text-align: center;
    margin-bottom: 10%;
    margin-right: 10%;
    color: #239400;

}

h6 { 
    text-align: center;
    margin: 5%;
    font-size: 150%;
    color: #239400;

}

.conseil {

    margin-left: 5%;
    margin-top: 10%;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 5%;
    margin-right: 10%;
    color: #239400;


}


.down {

    color: #239400;
    display: flex;
    justify-content: center;
   padding: 2%;
   margin: 1%;
    margin-left: 10%;


}



.listfooter {
    margin: 0 auto;
    display: flex;
    
    

}


footer {
    margin-top: 10%;
    border: 1px solid black;

}